.DS_Store
*~
__pycache__
/out*

# don't version the files that are changed for each pipeline
/config.yml
/docker-compose.yml

# not interested in any compose configuration files for personal use
/docker-compose*.yml
